<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A template page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
  
    
    <!--Add a nav bar here -->
    {% include "./components/nav.html" %}

    <h1>
        How to contact us:
    </h1> 
    <h3>Our address is:</h3>
    <p>1600 Mainstreet, Somewheresville, Texas</p>
    <h3>Our phone number:</h3>
    <p>0800-1066-1066</p>

    <!--Add a dealer table here -->



    {% include "./components/footer.html" %}
    </body>

</html>
