<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

        <!--Add a nav bar here -->
        {% include "./components/nav.html" %}

        <!-- Add reviews as cards -->

        {% include "./components/footer.html" %}
    </body>


    <script>
        const conditionalLinksHolder = document.querySelector('#conditional-links')
        conditionalLinksHolder.innerHTML = "{% include './components/conditional_links.html' %}"


    </script>

</html>