{% load static %}

<style>.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
</style>

<footer class="footer">
    <div class="container">
      <span class="text-muted">Thank you for visiting our site</span>
      <span class="text-muted">You can contact us here:</span>
      <a class="navbar-brand" href="/djangoapp/contact">Contact us</a>
    </div>
  </footer>